slides>slide.title-slide {
    border-color: #243569;  
    background-image: url('world.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

slide.title-slide p {
  color: #243569;
}

slide.title-slide h1 {
  color: #243569;
  
}